<div class="container main-content">

<p>
  <strong>Name:</strong>
  <%= @registered_application.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @registered_application.url %>
</p>

<% if @events.keys.length > 0 %>

  <table class="table" id="events-table">
    <thead>
        <tr>
          <th>Event type</th>
          <th>Event count</th>
        </tr>
      </thead>
      <tbody>
        <% @events.keys.each do |key| %>
          <tr>
            <td><%= key %></td>
            <td><%= @events[key].length %></td>
          </tr>
        <% end %>
      </tbody>
  </table>

   <%= pie_chart @registered_application.events.group(:name).count, id: "events-pie-chart" %>

    <%= line_chart @registered_application.events.group_by_day(:created_at).count, id: "events-line-chart" %>
    
    <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active" id="table-option">
    <input type="radio" name="options" autocomplete="off" checked > View as table
  </label>
  <label class="btn btn-primary" id="chart-option">
    <input type="radio" name="options"  autocomplete="off" > View as pie chart
  </label>
  <label class="btn btn-primary" id="graph-option">
    <input type="radio" name="options"  autocomplete="off"> View as graph
  </label>
</div>

<% else %>
  <h4>No events published</h4>
<% end %>

  <div class="my-link">
    <%= link_to 'Edit', edit_registered_application_path(@registered_application) %> |
    <%= link_to 'Back', registered_applications_path %>
  </div>
</div>
